<header>
    <h1>{{title}}</h1>

<div class="navbar-item">
    <button><a href="/">Home</a></button>
    <button><a href="/about">About</a></button>
    <button><a href="/help">Help</a></button>
</div>
</header>

